@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply font to html element */
.poppins {
  font-family: var(--font-poppins); /* Apply Poppins font */
}

body {
  font-family: var(--font-poppins);
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: small;
  font-weight: 400;
}
